/* October CMS Debugbar Branding */

:root {
    --debugbar-icon-brand-october: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2065%2065%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M64.052.899s-45.497%200-58.874%2024.242C.77%2033.131-1.38%2046.168%204.448%2055.156l49.816-42.328L39.374%2028.25l11.544.648-15.031%202.963L23.766%2044.416l16.296%201.357L19.116%2049.23%208.823%2059.891c.175.137.344.273.526.406%2011.557%208.295%2026.888%201.4%2036.16-5.273C65.97%2040.303%2064.052.899%2064.052.899z%22%2F%3E%3C%2Fsvg%3E');
}

div.phpdebugbar,
div.phpdebugbar-openhandler,
div.phpdebugbar-widgets-datasets-panel {
    --debugbar-october-brand: #DB6A26;

    --debugbar-border: #bbb;

    --debugbar-header: #fff;
    --debugbar-header-text: #555;

    --debugbar-icons: var(--debugbar-header-text);
    --debugbar-badge: #fff;
    --debugbar-badge-text: var(--debugbar-october-brand);

    --debugbar-badge-active: var(--debugbar-october-brand);
    --debugbar-badge-active-text: #fff;

    --debugbar-link: #777;
    --debugbar-hover: #666;

    --debugbar-icon-brand: var(--debugbar-icon-brand-october);
}

/* Dark mode */
div.phpdebugbar[data-theme='dark'],
div.phpdebugbar-openhandler[data-theme='dark'],
div.phpdebugbar-widgets-datasets-panel[data-theme='dark'] {
    --debugbar-background: #1e2227;
    --debugbar-background-alt: #212529;
    --debugbar-text: #e0e0e0;
    --debugbar-text-muted: #adb5bd;
    --debugbar-border: #495057;

    --debugbar-header: #141515;
    --debugbar-header-text: #adb5bd;
    --debugbar-header-border: #383a3e;
    --debugbar-header-hover: #2b3442;

    --debugbar-active: #2b3442;
    --debugbar-active-text: #e0e0e0;

    --debugbar-icons: var(--debugbar-header-text);
    --debugbar-badge: #fff;
    --debugbar-badge-text: var(--debugbar-october-brand);

    --debugbar-badge-active: var(--debugbar-october-brand);
    --debugbar-badge-active-text: #fff;

    --debugbar-link: #adb5bd;
    --debugbar-hover: #e0e0e0;
}

div.phpdebugbar[data-theme='dark'] code.phpdebugbar-widgets-sql,
div.phpdebugbar[data-theme='dark'] .phpdebugbar-widgets-name,
div.phpdebugbar[data-theme='dark'] .phpdebugbar-widgets-key,
div.phpdebugbar[data-theme='dark'] .phpdebugbar-widgets-success > pre.sf-dump > .sf-dump-note {
    color: #fdfd96;
}

div.phpdebugbar[data-theme='dark'] pre.sf-dump,
div.phpdebugbar[data-theme='dark'] pre.sf-dump .sf-dump-default {
    color: #e0e0e0;
}

div.phpdebugbar[data-theme='dark'] pre.sf-dump .sf-dump-preview {
    opacity: .8;
}

div.phpdebugbar-openhandler {
    border-top: 3px solid var(--debugbar-october-brand);
}

div.phpdebugbar-resize-handle {
    height: 3px;
    margin-top: -3px;
    border-bottom: 0;
    background-color: var(--debugbar-october-brand);
}

div.phpdebugbar-closed,
div.phpdebugbar-minimized {
    border-top-color: var(--debugbar-border);
}

a.phpdebugbar-restore-btn:after {
    background: var(--debugbar-october-brand);
}

a.phpdebugbar-restore-btn {
    border-right-color: var(--debugbar-border) !important;
}

div.phpdebugbar-header .phpdebugbar-tab {
    border-left: 1px solid var(--debugbar-header-border);
}

a.phpdebugbar-tab.phpdebugbar-active {
    background: var(--debugbar-october-brand);
    color: #fff !important;
}

a.phpdebugbar-tab.phpdebugbar-active span.phpdebugbar-badge {
    background-color: var(--debugbar-badge);
    color: var(--debugbar-badge-text);
}

a.phpdebugbar-tab span.phpdebugbar-badge {
    border-radius: 10px;
    padding: 2px 8px;
    background: var(--debugbar-october-brand);
    color: var(--debugbar-badge-active-text);
}

.phpdebugbar-widgets-datasets-switcher-widget .phpdebugbar-widgets-datasets-badge-count {
    background: var(--debugbar-october-brand);
    color: var(--debugbar-badge-active-text);
    border-radius: 10px;
    padding: 0 4px;
}

ul.phpdebugbar-widgets-cache a.phpdebugbar-widgets-forget {
    background: var(--debugbar-october-brand);
    color: #fff;
}
